# ----------------------------
# Data (DO NOT COMMIT)
# ----------------------------
data/raw/
data/processed/

# ----------------------------
# Outputs & Models
# ----------------------------
outputs/
*.pth
*.h5
*.ckpt

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Notebooks Checkpoints
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.pyc

# ----------------------------
# Environment files
# ----------------------------
.env
.venv/
venv/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db
